@import "../../App.scss";

#signup {
    .signup {
        @media (min-width: $tablet-breakpoint) {
            padding: 50px 200px 100px;
            display: flex;
            flex-direction: column;
        }

        &__header {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 30px;

            img {
                width: 200px;
            }
        }

        &__body {
            background-color: $lightest-blue;
            border-radius: 10px;
            box-shadow: 0px 4px 13px 1px rgba(0, 0, 0, 0.08);

            @media (min-width: $tablet-breakpoint) {
                padding: 60px;
                max-width: 1040px;
                margin: auto;
            }

            &__title {
                font-family: markpro-medium;
                text-align: center;
                margin-bottom: 30px;
                font-size: 20px;

                h2 {
                    font-size: 22px;
                    margin-bottom: 10px;
                }

                p {
                    font-family: markpro-light;
                    font-size: 14px;
                }
            }

            &__fields {
                margin-bottom: 30px;

                @media (min-width: $tablet-breakpoint) {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-gap: 40px;
                }
            }

            &__otp-section {
                margin-bottom: 30px;
            }

            &__footer {
                display: flex;
                flex-direction: column;
                align-items: center;

                button {
                    margin-bottom: 20px;
                }

                p {
                    &.enquiry {
                        font-family: markpro;
                        margin-bottom: 10px;
                    }

                    &.copyright-info {
                        font-family: markpro-light;
                        font-size: 12px;
                    }
                }
            }

            .form-field {
                display: flex;
                flex-direction: column;
                margin-bottom: 20px;

                label {
                    margin-bottom: 10px;
                    font-family: markpro-medium;
                }

                input {
                    border: 1px solid $light-ash;
                    height: 50px;
                    border-radius: 5px;
                }
            }

            .link {
                color: $light-blue;
                text-decoration: underline;
                cursor: pointer;

                &:hover {
                    opacity: 0.5;
                }
            }

            .btn {
                height: 50px;
                border-radius: 5px;
                padding: 0px 70px;
                border: 0px;
                cursor: pointer;
                font-family: markpro-medium;
            }

            .btn-blue {
                background-color: $dark-blue;
                color: #fff;

                &:hover {
                    box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.12);
                }
            }
        }
    }
}
